<div>
  <h2 id="page-heading" data-cy="StockProduitHeading">
    <span jhiTranslate="restaurantApplicationApp.stockProduit.home.title">Stock Produits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="restaurantApplicationApp.stockProduit.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-stock-produit-chad"
        [routerLink]="['/stock-produit-chad/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="restaurantApplicationApp.stockProduit.home.createLabel"> Create a new Stock Produit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="stockProduits?.length === 0">
    <span jhiTranslate="restaurantApplicationApp.stockProduit.home.notFound">No Stock Produits found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="stockProduits && stockProduits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="restaurantApplicationApp.stockProduit.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quantite">
            <div class="d-flex">
              <span jhiTranslate="restaurantApplicationApp.stockProduit.quantite">Quantite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateExpiration">
            <div class="d-flex">
              <span jhiTranslate="restaurantApplicationApp.stockProduit.dateExpiration">Date Expiration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="produit.id">
            <div class="d-flex">
              <span jhiTranslate="restaurantApplicationApp.stockProduit.produit">Produit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stockProduit of stockProduits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/stock-produit-chad', stockProduit.id, 'view']">{{ stockProduit.id }}</a>
          </td>
          <td>{{ stockProduit.name }}</td>
          <td>{{ stockProduit.quantite }}</td>
          <td>{{ stockProduit.dateExpiration | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="stockProduit.produit">
              <a [routerLink]="['/produit-chad', stockProduit.produit.id, 'view']">{{ stockProduit.produit.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/stock-produit-chad', stockProduit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/stock-produit-chad', stockProduit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(stockProduit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="stockProduits && stockProduits.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
